<div class="container">
    <img class="img-map" src="/assets/img/planos/realdelvalle.jpg" usemap="#image-map">

    <map name="image-map">
    <area class="bg-primary" alt="Manzana 8 Lote 9" title="Manzana 8 Lote 9" href="" coords="5660,1978,5775,1978,5775,2254,5660,2243" shape="poly">
    <area target="" alt="Manzana 8 Lote 8" title="Manzana 8 Lote 8" href="" coords="5665,1978,5544,1978,5538,2231,5654,2243" shape="poly">
    <area target="" alt="Manzana 8 Lote 7" title="Manzana 8 Lote 7" href="" coords="5429,1978,5544,1978,5538,2231,5423,2220" shape="poly">
</map>
</div>