.title {
    font-size: 2rem;
}

.align-end {
    text-align: end;
}

.box-cliente {
    background: rgb(228, 228, 228);
    color: rgb(100, 100, 100);
    width: 100% !important;
    padding: 0.5rem;
    border-radius: 5px;
}

.icon-close2 {
    font-size: 20px;
    color: rgb(233, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-close2:hover {
    color: rgb(212, 0, 0);
}