<app-dashboard-header (toggleEmit)="toggle()" [isMenuOpen]="isMenuOpen"></app-dashboard-header>

<mat-sidenav-container fullscreen>
    <mat-sidenav class="smart-sidenav responsive" [mode]="sidenav.mode" [disableClose]="sidenav.disableClose" [ngStyle]="{ 'width.em': sidenav.width }" [position]="sidenav.position" [opened]="sidenav.status" (window:resize)="onResize($event)">
        <app-dashboard-sidenav (toggler)="toggle()"></app-dashboard-sidenav>
    </mat-sidenav>
    <div class="dashboard-content">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>