<div class="container">
    <div class="justify-space-end" *ngIf="data">
        <span class="material-icons icon-close" (click)="closeDialog()">cancel</span>
    </div>
    <section>
        <div class="row text-center">
            <div class="col-6">
                <p class="text-semibold">Nombre:</p>
                <p>{{fraccionamiento.nombre}}</p>
            </div>
            <div class="col-6">
                <p class="text-semibold">Régimen:</p>
                <p>{{fraccionamiento.regimen}}</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-6">
                <p class="text-semibold">Estado:</p>
                <p>{{fraccionamiento.estado}}</p>
            </div>
            <div class="col-6">
                <p class="text-semibold">Municipio:</p>
                <p>{{fraccionamiento.municipio}}</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <p class="text-semibold">Ubicación Google Maps:</p>
                <p>{{fraccionamiento.ubicacionMaps}}</p>
            </div>
        </div>
    </section>
</div>