<header>
    <h2 class="text-secondary text-raleway text-bold">Agregar Terreno</h2>
</header>

<div class="card">
    <div class="card-body">
        <form>
            <p class="text-secondary text-raleway">Llena cuidadosamente los campos</p>
            <div class="row">
                <div class="col-4">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Fraccionamiento</mat-label>
                        <mat-select>
                            <mat-option value="Uno"></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label class="text-raleway">No. de manzana</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label class="text-raleway">No. de lote</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label class="text-raleway">Superficie (en m2)</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label class="text-raleway">Costo por m2</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label class="text-raleway">Enganche</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label class="text-raleway">Costo Total</mat-label>
                        <input matInput class="disabled">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label class="text-raleway">Saldo</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Fecha de venta</mat-label>
                        <input matInput [value]="getTodayDate()" [matDatepicker]="fechaVenta">
                        <mat-datepicker-toggle matSuffix [for]="fechaVenta"></mat-datepicker-toggle>
                        <mat-datepicker #fechaVenta></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label class="text-raleway">Numero de mensualidades</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label class="text-raleway">Dia de pago del</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label class="text-raleway">Dia de pago al</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="deslindePagado">
                        <label class="form-check-label text-secondary" for="deslindePagado">
                          Pagó deslinde
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <button class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>