/********** Header **********/

header {
    width: 100%;
    min-height: 100vh;
    background-image: url('/assets/img/backgrounds/header1.jpg');
    background-size: cover;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 55%;
        .title {
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #d4d4d4 !important;
        }
        .separator-line {
            height: 6px;
            width: 10%;
            background: #4bc22b;
        }
        .subtitle {
            text-transform: uppercase;
            font-size: 4rem;
            line-height: 70px;
            letter-spacing: 2px;
            text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        }
    }
}


/*********** About ***********/

section.about {
    min-height: 70vh;
    width: 100%;
    .container {
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5rem;
        gap: 3rem;
        .text-about {
            .container-title {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                .title {
                    font-size: 1.4rem;
                    margin-bottom: 1rem !important;
                }
                .subtitle {
                    font-size: 3.2rem;
                    line-height: 50px;
                    margin-bottom: 3rem !important;
                }
                .paragraph {
                    font-size: 1.2rem;
                    font-weight: 300;
                    line-height: 25px;
                    margin-bottom: 2rem;
                }
                button {
                    justify-self: flex-start
                }
            }
        }
        .team-images {
            display: flex;
            .container1,
            .container2 {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-right: 2rem;
            }
            .container2 {
                margin-top: 3rem !important;
            }
        }
    }
}

.images {
    margin-bottom: 30px;
    border-radius: 45px;
    width: 180px!important
}


/*********** Features ***********/

section.features {
    width: 100%;
    min-height: 25vh;
    height: auto;
    background: #383838;
    display: flex;
    margin-top: 2rem;
    .container {
        width: 55%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .counter {
            display: flex;
            .container-icon {
                margin-right: 2rem;
                .icon {
                    font-size: 2.5rem;
                }
            }
            .container-text {
                .number {
                    font-size: 3rem;
                    letter-spacing: 2px;
                    margin-bottom: 1.5rem !important;
                }
                .type {
                    font-size: 1.3rem;
                }
            }
        }
    }
}


/*********** Services ***********/

section.services {
    width: 100%;
    min-height: 80vh;
    .container {
        width: 60%;
        margin: auto;
        .title {
            font-size: 2.8rem;
            margin-bottom: 4rem;
            line-height: 40px;
        }
        .container-services {
            display: flex;
            justify-content: space-between;
        }
    }
}

.service-one__single {
    border-style: solid;
    border-width: 1px;
    border-color: #efefef;
    border-radius: 5px;
    padding: 2px;
    position: relative;
    margin-bottom: 30px;
    width: 33%;
    margin-right: 2rem;
    min-height: 50vh;
    transition: all 0.3s ease;
    cursor: pointer;
}

.service-one__single:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
    box-shadow: none;
    -webkit-box-shadow: 0px 1px 15px -5px rgba(52, 224, 72, 0.7);
    -moz-box-shadow: 0px 1px 15px -5px rgba(52, 224, 72, 0.7);
    box-shadow: 0px 1px 15px -5px rgba(52, 224, 72, 0.7);
}

.service-one__inner {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 35px;
    cursor: pointer;
    h3 {
        font-size: 20px;
        line-height: 34px;
        color: #2a2833;
    }
    p {
        margin: 0;
        color: #74727a;
        font-size: 16px;
        line-height: 34px;
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .icon-arrow-a {
        cursor: pointer;
        text-decoration: none;
        .icon-arrow {
            font-size: 2.1rem;
        }
    }
    .icon-service {
        font-size: 2.5rem;
    }
}

.service-one__icon {
    width: 108px;
    height: 108px;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(58, 212, 173, 0.8);
    box-shadow: 0px 20px 40px 0px rgba(58, 212, 173, 0.8);
    border-radius: 5px;
    background-image: linear-gradient(40deg, #39aeff 0%, #3cff53 100%);
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 70px;
    margin-bottom: 30px;
}


/*********** Video ***********/

section.video {
    width: 100%;
    min-height: 50vh;
    background: #383838;
}


/*********** Terrenos ***********/

section.terrenos {
    width: 100%;
    min-height: 80vh;
    .container {
        width: 70%;
        margin: auto;
        .title {
            font-size: 2.8rem;
            margin-bottom: 4rem;
            line-height: 40px;
        }
        .container-terrenos {
            display: flex;
            flex-direction: column;
            .fraccionamiento {
                display: grid;
                min-height: 40vh;
                grid-template-columns: repeat(2, 1fr);
                gap: 3rem;
                margin-bottom: 2rem;
                .container-description {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .title {
                        font-size: 2.5rem;
                        margin-bottom: 0.9rem !important;
                    }
                    .location {
                        font-size: 1.4rem;
                        margin-bottom: 2rem !important;
                        color: #74727a;
                    }
                    .description-fraccionamiento {
                        font-size: 1rem;
                        color: #383838;
                        margin-bottom: 2rem !important;
                    }
                }
                .bg-fraccionamiento {
                    background-image: url('src/assets/img/fraccionamientos/realdelvalle/1.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}


/*********** Preguntas Frecuentes ***********/

section.preguntasFrecuentes {
    width: 100%;
    min-height: 60vh;
    height: auto;
    .container {
        width: 50%;
        margin: auto;
        .title {
            font-size: 2.8rem;
            margin-bottom: 4rem;
            line-height: 40px;
        }
        .title-mat-header {
            font-size: 1rem !important;
        }
    }
}


/*********** Colabora ***********/

section.colabora {
    margin-top: 3rem;
    width: 100%;
    min-height: 25vh;
    height: auto;
    background: #16A085;
    background: -webkit-linear-gradient(to right, #33891c, #4bc22b);
    background: linear-gradient(to right, #33891c, #4bc22b);
    display: flex;
    align-content: center;
    .container {
        width: 60%;
        margin: auto;
        display: flex;
        .title {
            font-size: 2.5rem;
        }
        .description {
            font-size: 1.2rem;
        }
        .container-button {
            margin: auto;
        }
    }
}


/********** Contacto **********/

section.contact {
    width: 100%;
    min-height: 70vh;
    height: auto;
    .container {
        width: 70%;
        margin: auto;
        .title {
            font-size: 2.8rem;
            margin-bottom: 4rem;
            line-height: 40px;
        }
        .container-contact {
            display: grid;
            grid-template-columns: 3fr 1fr;
            gap: 3rem;
            form {
                padding: 2rem;
                background: #fafafa;
                mat-form-field {
                    margin-right: 1rem;
                }
                .nombre-correo {
                    display: flex;
                }
                .asunto {
                    display: flex;
                }
                .mensaje {
                    display: flex;
                }
            }
            .container-location-information {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .container-individual {
                    display: flex;
                    .icon-container {
                        margin-right: 2rem;
                        .icon {
                            font-size: 2.5rem;
                        }
                    }
                    .info-container {
                        .title-text {
                            font-size: 1.3rem;
                            margin-bottom: 0.5rem !important;
                        }
                        .information-text {
                            color: #74727a;
                        }
                    }
                }
            }
        }
    }
}


/*********** Media Quieries ***********/

@media screen and (max-width: 1500px) {
    /* Features */
    section.features {
        .container {
            width: 70%;
        }
    }
}

@media screen and (max-width: 1400px) {
    /* Services */
    section.services {
        .container {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1300px) {
    /* Features */
    section.features {
        .container {
            width: 85%;
        }
    }
    /* Services */
    section.terrenos {
        .container {
            width: 90%;
        }
    }
    /* Preguntas Frecuentes */
    section.preguntasFrecuentes {
        .container {
            width: 70%;
        }
    }
}

@media screen and (max-width: 1150px) {
    /*Colabora*/
    section.colabora {
        .container {
            display: flex;
            flex-direction: column;
            .container-button {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    /* About */
    section.about {
        .container {
            display: flex;
            flex-direction: column;
            .text-about {
                .container-title {
                    text-align: center;
                }
            }
            .team-images {
                display: flex;
                justify-content: center;
            }
        }
    }
    /* Features */
    section.features {
        .container {
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .counter {
                display: flex;
                justify-content: center;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
    }
    /* Services */
    section.services {
        .container {
            .container-services {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .service-one__single {
                    width: 50%;
                    margin: auto;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    /* Terrenos */
    section.terrenos {
        .container {
            .container-terrenos {
                .fraccionamiento {
                    display: flex;
                    flex-direction: column;
                    .bg-fraccionamiento {
                        height: 40vh;
                        margin-bottom: 1rem;
                    }
                }
                .fraccionamiento.invert-order {
                    .container-description {
                        order: 2;
                    }
                    .bg-fraccionamiento {
                        order: 1;
                    }
                }
            }
        }
    }
    /* Preguntas Frecuentes */
    section.preguntasFrecuentes {
        .container {
            width: 85%;
        }
    }
    /* Contacto */
    section.contact {
        .container {
            width: 90%;
            .container-contact {
                display: flex !important;
                flex-direction: column;
                .nombre-correo {
                    flex-direction: column;
                }
                .asunto {
                    flex-direction: column;
                }
                .mensaje {
                    flex-direction: column;
                }
            }
            .container-location-information {
                .container-individual {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    /* Header */
    header {
        .container {
            .separator-line {
                width: 20%;
            }
        }
    }
    /*Colabora*/
    section.colabora {
        .container {
            .container-description {
                .title {
                    font-size: 2.1rem;
                }
                .description {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    /* About */
    section.about {
        .container {
            width: 90%;
            .text-about {
                .container-title {
                    .subtitle {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
    /* Services */
    section.services {
        .container {
            .container-services {
                .service-one__single {
                    width: 80%;
                }
            }
        }
    }
    /* Preguntas Frecuentes */
    section.preguntasFrecuentes {
        .container {
            .counter {
                .container-icon {}
            }
        }
    }
    /* Servicios */
    section.services {
        .container {
            .title {
                font-size: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    /* Header */
    header {
        .container {
            .separator-line {
                width: 25%;
            }
            .subtitle {
                font-size: 3rem !important;
            }
        }
    }
    /* About */
    section.about {
        .container {
            .team-images {
                padding: 1rem;
                box-sizing: border-box;
                .container1,
                .container2 {
                    margin-top: 0 !important;
                    margin-right: 0 !important;
                    padding: 0.2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    /* Header */
    header {
        .container {
            .subtitle {
                font-size: 2.4rem !important;
                line-height: 50px;
                .br-header-1 {
                    display: none !important;
                }
            }
        }
    }
    /* Colabora */
    section.colabora {
        .container {
            width: 80%;
            .container-description {
                .title {
                    font-size: 1.6rem;
                }
                .description {
                    font-size: 0.9rem;
                }
            }
        }
    }
}