<!-- Navbar -->
<nav>
    <div class="container">
        <div class="container-logo">
            <img src="/assets/img/logos/logoblanco.png" alt="">
        </div>
        <div class="container-menu">
            <ul class="deleteListStyle">
                <li><a class="text-white text-raleway no-underline">Inicio</a></li>
                <li><a class="text-white text-raleway no-underline">Acerca</a></li>
                <li><a class="text-white text-raleway no-underline">Servicios</a></li>
                <li><a class="text-white text-raleway no-underline">Terrenos</a></li>
                <li><a class="text-white text-raleway no-underline">Contacto</a></li>
                <li><button class="btn-white">Iniciar Sesión</button></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->

<header>
    <div class="container">
        <h1 class="title text-light-gray text-raleway">Bienes Raíces Larios</h1>
        <div class="separator-line mb-1"></div>
        <h2 class="subtitle text-raleway text-semibold text-white no-margin">La mejor manera <br> de predecir el futuro <br> es creándolo

        </h2>
    </div>
</header>

<!-- About -->

<section class="about">
    <div class="container">
        <div class="text-about">
            <div class="container-title">
                <h3 class="text-primary text-semibold text-raleway no-margin title">¿Quiénes Sómos?</h3>
                <h4 class="text-gray text-raleway text-semibold no-margin subtitle">Tenemos más de 30 años de experiencia.</h4>
                <p class="text-gray text-raleway text-justify paragraph">Bienes Raíces Larios es el nombre de nuestra empresa que desde 1980 ha creado un gran impacto en el ramo de Bienes Raíces, recogiendo la experiencia de varias generaciones.</p>
                <p class="text-gray text-raleway text-justify paragraph">Actualmente somos la empresa líder en su ramo dedicada a la venta de terrenos, construcción en general y diseño de planos arquitectónicos.</p>
                <p class="text-gray text-raleway text-justify paragraph">Contamos con más de 30 años de experiencia y tenemos un equipo multidisciplinario que hará que tu experiencia con nosotros sea de lo más agradable.</p>
                <div class="container-button">
                    <button class="btn-primary">Contáctanos</button>
                </div>
            </div>
        </div>
        <div class="team-images">
            <div class="container1">
                <img class="images" src="/assets/img/team-1.png" alt="">
                <img class="images" src="/assets/img/team-1.png" alt="">
            </div>
            <div class="container2">
                <img class="images" src="/assets/img/team-1.png" alt="">
                <img class="images" src="/assets/img/team-1.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Features -->

<section class="features">
    <div class="container">
        <div class="counter">
            <div class="container-icon">
                <mat-icon class="icon text-arel">home_work</mat-icon>
            </div>
            <div class="container-text">
                <p class="number no-margin text-semibold text-white text-raleway">250+</p>
                <p class="type no-margin text-white text-raleway">Fracionamientos</p>
            </div>
        </div>
        <div class="counter">
            <div class="container-icon">
                <mat-icon class="icon text-arel">home</mat-icon>
            </div>
            <div class="container-text">
                <p class="number no-margin text-semibold text-white text-raleway">35,000+</p>
                <p class="type no-margin text-white text-raleway">Terrenos vendidos</p>
            </div>
        </div>
        <div class="counter">
            <div class="container-icon">
                <mat-icon class="icon text-arel">people</mat-icon>
            </div>
            <div class="container-text">
                <p class="number no-margin text-semibold text-white text-raleway">30,000+</p>
                <p class="type no-margin text-white text-raleway">Clientes satisfechos</p>
            </div>
        </div>
    </div>
</section>

<!-- Services -->

<section class="services">
    <div class="container">
        <h3 class="title text-center text-gray text-raleway text-semibold mt-5">Conoce los <span class="text-bold">servicios</span> <br> que ofrecemos para tí</h3>

        <div class="container-services">
            <div class="service-one__single text-center">
                <div class="service-one__inner">
                    <i class="service-one__icon dimon-icon-laptop"><span class="material-icons icon-service">home</span></i>
                    <h3 class="text-raleway text-semibold">Venta de terrenos</h3>
                    <p>Lorem ipsum is are <br> many variations of <br> pass of majority.</p>
                    <a class="icon-arrow-a"><span class="material-icons icon-arrow ">east</span></a>
                </div>
            </div>
            <div class="service-one__single text-center">
                <div class="service-one__inner">
                    <i class="service-one__icon dimon-icon-laptop"><span class="material-icons icon-service">home_work</span></i>
                    <h3 class="text-raleway text-semibold">Construcción</h3>
                    <p>Lorem ipsum is are <br> many variations of <br> pass of majority.</p>
                    <a class="icon-arrow-a"><span class="material-icons icon-arrow ">east</span></a>
                </div>
            </div>
            <div class="service-one__single text-center">
                <div class="service-one__inner">
                    <i class="service-one__icon dimon-icon-laptop"><span class="material-icons icon-service">architecture</span></i>
                    <h3 class="text-raleway text-semibold">Planos arquitectónicos</h3>
                    <p>Lorem ipsum is are <br> many variations of <br> pass of majority.</p>
                    <a class="icon-arrow-a"><span class="material-icons icon-arrow ">east</span></a>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- Video -->

<section class="video">

</section>

<!-- Services -->

<section class="terrenos">
    <div class="container">
        <h3 class="title text-center text-gray text-raleway text-semibold mt-5">Conoce tu próximo <span class="text-bold">patrimonio</span></h3>
        <div class="container-terrenos">
            <div class="fraccionamiento">
                <div class="container-description">
                    <h4 class="title no-margin text-raleway text-semibold">Real del Valle</h4>
                    <h6 class="text-raleway location">Yecapixtla, Morelos</h6>
                    <p class="text-justify text-montserrat description-fraccionamiento">Real del Valle es desarrollo inmobiliario en Yecapixtla "La Capital de la Cecina" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore sequi repellat facilis veritatis quisquam exercitationem. Voluptas ipsam quasi optio
                        quam, saepe accusantium esse suscipit. Cumque id omnis natus sint laudantium.</p>
                    <div class="container-button">
                        <button class="btn-secondary">Conoce más</button>
                    </div>
                </div>
                <div class="bg-fraccionamiento"></div>
            </div>
            <div class="fraccionamiento">
                <div class="bg-fraccionamiento"></div>
                <div class="container-description">
                    <h4 class="title no-margin text-raleway text-semibold">Real del Valle</h4>
                    <h6 class="text-raleway location">Yecapixtla, Morelos</h6>
                    <p class="text-justify text-montserrat description-fraccionamiento">Real del Valle es desarrollo inmobiliario en Yecapixtla "La Capital de la Cecina" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore sequi repellat facilis veritatis quisquam exercitationem. Voluptas ipsam quasi optio
                        quam, saepe accusantium esse suscipit. Cumque id omnis natus sint laudantium.</p>
                    <div class="container-button">
                        <button class="btn-secondary">Conoce más</button>
                    </div>
                </div>
            </div>
            <div class="fraccionamiento">
                <div class="container-description">
                    <h4 class="title no-margin text-raleway text-semibold">Real del Valle</h4>
                    <h6 class="text-raleway location">Yecapixtla, Morelos</h6>
                    <p class="text-justify text-montserrat description-fraccionamiento">Real del Valle es desarrollo inmobiliario en Yecapixtla "La Capital de la Cecina" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore sequi repellat facilis veritatis quisquam exercitationem. Voluptas ipsam quasi optio
                        quam, saepe accusantium esse suscipit. Cumque id omnis natus sint laudantium.</p>
                    <div class="container-button">
                        <button class="btn-secondary">Conoce más</button>
                    </div>
                </div>
                <div class="bg-fraccionamiento"></div>
            </div>
        </div>
    </div>
</section>