<div class="container">
    <div class="justify-space-between">
        <h2>Verifique la información antes de agregarla</h2>
        <span class="material-icons icon-close" (click)="closeDialog()">cancel</span>
    </div>
    <div class="row scrollCondition">
        <div class="col-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">No. Manzana</th>
                        <td>{{data.form.noManzana}}</td>
                    </tr>
                    <tr>
                        <th scope="row">No. Lote</th>
                        <td>{{data.form.noLote}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Superficie</th>
                        <td>{{data.form.superficie}}m2</td>
                    </tr>
                    <tr>
                        <th scope="row">Costo x m2</th>
                        <td>{{data.form.costoM2 | currency}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Costo Total</th>
                        <td>{{data.form.costoTotal | currency}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cliente</th>
                        <td><span *ngIf="cliente" class="text-secondary">{{cliente.nombre}} {{cliente.apellidoPaterno}}
                                {{cliente.apellidoMaterno}}</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Fraccionamiento</th>
                        <td><span *ngIf="fraccionamiento" class="text-secondary">{{fraccionamiento.nombre}}</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha de venta</th>
                        <td>{{data.form.fechaVenta}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Vendedores</th>
                        <td>
                            <ol>
                                <li *ngFor="let vendedor of data.form.vendedores">{{vendedor.nombre}}</li>
                            </ol>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Forma de pago</th>
                        <td>{{(data.form.pagoAlContado == 0) ? 'Financiamiento a' : 'Contado'}} <span class="text-semibold" *ngIf="data.form.pagoAlContado == 0">{{data.form.noMensualidades}}
                                mensualidades</span>
                        </td>
                    </tr>
                    <ng-container *ngIf="data.form.pagoAlContado == 0">
                        <tr>
                            <th scope="row">Enganche</th>
                            <td>{{data.form.enganche | currency}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Monto de cada mensualidad</th>
                            <td>{{data.form.montoMensualidad | currency}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Fechas de pago</th>
                            <td>Del <span class="text-semibold">{{data.form.diaPagoDel}}</span> al <span class="text-semibold">{{data.form.diaPagoAl}}</span> de cada mes</td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha de la primera mensualidad</th>
                            <td>{{data.form.fechaPrimeraMensualidad}}</td>
                        </tr>
                    </ng-container>
                    <tr>
                        <th scope="row">Deslinde</th>
                        <td><span [ngClass]="{
                            'text-danger': data.form.pagoDeslinde == 0,
                            'text-secondary': data.form.pagoDeslinde == 1
                           }">{{(data.form.pagoDeslinde == 1) ? 'Pagado' : 'NO Pagado'}}</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="box-saldo">
                <p class="text-semibold no-margin">Saldo a pagar: <span class="text-secondary">{{data.form.saldo | currency}}</span></p>
                <p style="margin-top: 0.1rem !important;">Saldo calculado automaticamente, si es necesario modificarlo
                    <span class="cursorPointer text-underline" (click)="modifySaldo()">da click
                        aquí</span></p>
                <ng-container *ngIf="showSaldoInput">
                    <mat-form-field appearance="fill">
                        <mat-label>Introduce el nuevo saldo</mat-label>
                        <input matInput aria-label="Vendedores" [formControl]="saldoCtrl">
                    </mat-form-field>
                    <div>
                        <button class="btn btn-danger" (click)="cancelNewSaldo()">Cancelar modificación de
                            saldo</button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12 flex-center">
            <button type="button" class="btn btn-primary" style="margin-right: 0.3rem !important;" (click)="closeDialog('proceed')">
                La información es correcta
            </button>
            <button type="button" class="btn btn-danger" (click)="closeDialog('backToEdit')">
                Regresar y modificar
            </button>
        </div>
    </div>
</div>