<div class="container">
    <div class="justify-space-between" *ngIf="data">
        <h2 class="text-semibold"> {{ (data.accion == 'CREAR') ? 'Crea un fraccionamiento' : 'Editar' }}</h2>
        <span class="material-icons icon-close" (click)="closeDialog()">cancel</span>
    </div>
    <form [formGroup]="fraccionamientoForm" (ngSubmit)="onSubmitForm()">
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label class="text-raleway">Nombre</mat-label>
                    <input autocomplete="off" formControlName="nombre" required matInput autofocus>
                </mat-form-field>
                <!-- Errors -->
                <div *ngIf="showErrors(nombre)">
                    <p class="text-semibold text-danger" *ngIf="nombre.errors.required">El campo es requerido</p>
                    <p class="text-semibold text-danger" *ngIf="nombre.errors.pattern">Formato inválido</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Régimen</mat-label>
                    <mat-select required formControlName="regimen">
                        <mat-option value="Propiedad Privada">Propiedad Privada</mat-option>
                        <mat-option value="Ejidal">Ejidal</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Errors -->
                <div *ngIf="showErrors(regimen)">
                    <p class="text-semibold text-danger" *ngIf="regimen.errors.required">El campo es requerido</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label class="text-raleway">Municipio</mat-label>
                    <input autocomplete="off" formControlName="municipio" required matInput>
                </mat-form-field>
                <!-- Errors -->
                <div *ngIf="showErrors(municipio)">
                    <p class="text-semibold text-danger" *ngIf="municipio.errors.required">El campo es requerido</p>
                    <p class="text-semibold text-danger" *ngIf="municipio.errors.pattern">Formato inválido</p>
                </div>
            </div>
            <div class="col-6">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label class="text-raleway">Estado</mat-label>
                    <input autocomplete="off" formControlName="estado" required matInput>
                </mat-form-field>
                <!-- Errors -->
                <div *ngIf="showErrors(estado)">
                    <p class="text-semibold text-danger" *ngIf="estado.errors.required">El campo es requerido</p>
                    <p class="text-semibold text-danger" *ngIf="estado.errors.pattern">Formato inválido</p>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label class="text-raleway">Ubicación Google Maps</mat-label>
                    <input autocomplete="off" formControlName="ubicacionMaps" matInput>
                    <mat-hint class="text-hint">Proporcione la url de la ubicación de Google Maps en caso de tenerla.
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Estatus del fraccionamiento</mat-label>
                    <mat-select required formControlName="estatusFraccionamiento">
                        <mat-option value="DISPONIBLE">Disponible</mat-option>
                        <mat-option value="VENDIDO">Vendido</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" [disabled]="!fraccionamientoForm.valid" class="btn btn-primary">{{data.accion == 'EDITAR' ? 'Editar' : 'Crear'}}</button>
            </div>
        </div>
    </form>
</div>