<mat-nav-list class="paddingless sidenav-container">
    <div>

        <mat-list-item (click)="toggle()" routerLink="/dashboard/home" class="responsive">
            <div class="sidenav-item">
                <mat-icon class="icon">description</mat-icon>
                <span class="title">Inicio</span>
            </div>
        </mat-list-item>

        <mat-list-item class="responsive" (click)="navigate('/dashboard/mi-cuenta')">
            <div class="sidenav-item">
                <mat-icon class="icon">person_pin</mat-icon>
                <a class="text-raleway text-semibold title" class="title">Mi Cuenta</a>
            </div>
        </mat-list-item>

        <ng-container *ngIf="isAdmin()">
            <mat-accordion>
                <mat-expansion-panel style="margin-top: 0 !important; margin-bottom: 0 !important; box-shadow: none !important; border-radius: 0 !important;">
                    <mat-expansion-panel-header class="expansion-panel-header" style="padding: 0 1rem !important;">
                        <mat-panel-title style="display: flex; align-items: center;">
                            <mat-icon class="icon">supervisor_account</mat-icon>
                            <span class="title">Usuarios</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list-item (click)="toggle('/dashboard/usuarios/administradores')" class="responsive">
                        <div class="sidenav-item">
                            <span class="title ml-1">Administradores</span>
                        </div>
                    </mat-list-item>
                    <mat-list-item (click)="toggle('/dashboard/usuarios/capturistas')" class="responsive">
                        <div class="sidenav-item">
                            <span class="title ml-1">Capturistas</span>
                        </div>
                    </mat-list-item>
                    <mat-list-item (click)="toggle('/dashboard/usuarios/clientes')" class="responsive">
                        <div class="sidenav-item">
                            <span class="title ml-1">Clientes</span>
                        </div>
                    </mat-list-item>
                    <mat-list-item (click)="toggle('/dashboard/usuarios/vendedores')" class="responsive">
                        <div class="sidenav-item">
                            <span class="title ml-1">Vendedores</span>
                        </div>
                    </mat-list-item>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-list-item (click)="navigate('/dashboard/fraccionamientos')" class="responsive">
                <div class="sidenav-item">
                    <mat-icon class="icon">home</mat-icon>
                    <span class="text-raleway text-semibold title" class="title">Fraccionamientos</span>
                </div>
            </mat-list-item>

            <mat-list-item class="responsive" (click)="navigate('/dashboard/terrenos')">
                <div class="sidenav-item">
                    <mat-icon class="icon">local_florist</mat-icon>
                    <a class="text-raleway text-semibold title" class="title">Terrenos</a>
                </div>
            </mat-list-item>
        </ng-container>

        <ng-container *ngIf="isCliente()">
            <mat-list-item class="responsive" (click)="navigate('/dashboard/terrenos/mis-terrenos')">
                <div class="sidenav-item">
                    <mat-icon class="icon">local_florist</mat-icon>
                    <a class="text-raleway text-semibold title" class="title">Mis Terrenos</a>
                </div>
            </mat-list-item>
        </ng-container>

        <mat-list-item (click)="logOut()" class="responsive">
            <div class="sidenav-item">
                <mat-icon class="icon">keyboard_tab</mat-icon>
                <span class="title">Cerrar sesión</span>
            </div>
        </mat-list-item>
    </div>
</mat-nav-list>