/********** Header **********/

header {
    width: 100%;
    min-height: 100vh;
    background-image: url("/assets/img/backgrounds/header1.jpg");
    background-size: cover;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 55%;
        .title {
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #d4d4d4 !important;
        }
        .separator-line {
            height: 6px;
            width: 10%;
            background: #4bc22b;
        }
        .subtitle {
            text-transform: uppercase;
            font-size: 4rem;
            line-height: 70px;
            letter-spacing: 2px;
            text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        }
    }
}

.mat-divider{
    border-top-color: #000 !important;
}


@media screen and (max-width: 1200px) {
    .container{
        width: 70% !important;
    }
}

@media screen and (max-width: 1000px) {
    .container{
        width: 90% !important;
    }
}

@media screen and (max-width: 800px) {
    .container{
        width: 100% !important;
    }
}