<mat-toolbar class="nav" [ngClass]="{'bg-primary': color === 'bg-primary', 'bg-white': color === 'bg-white'}">
    <mat-toolbar-row class="container-nav full-width">
        <div class="container-logo">
            <button mat-icon-button (click)="toggleNav()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <img src="/assets/img/logos/logoblanco.png" alt="">
        </div>
        <span class="spacer"></span>
        <div class="container-menu" fxShow="true" fxHide.lt-md>
            <ul class="deleteListStyle">
                <li class="cursorPointer"><a (click)="scrollTo(top)" class="text-white text-raleway no-underline cursorPointer">Inicio</a></li>
                <li class="cursorPointer"><a (click)="scrollTo(about)" class="text-white text-raleway no-underline cursorPointer">Acerca</a></li>
                <li class="cursorPointer"><a (click)="scrollTo(services)" class="text-white text-raleway no-underline cursorPointer">Servicios</a></li>
                <li class="cursorPointer"><a (click)="scrollTo(terrenos)" class="text-white text-raleway no-underline cursorPointer">Terrenos</a></li>
                <li class="cursorPointer"><a (click)="scrollTo(contact)" class="text-white text-raleway no-underline cursorPointer">Contacto</a></li>
                <li class="cursorPointer"><button class="btn-white">Iniciar Sesión</button></li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>