<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/terrenos">Terrenos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mensualidades</li>
    </ol>
</nav>
<div class="card p-4">

    <div style="display: flex; justify-content: space-between;">
        <div>
            <h2 class="text-gray text-semibold text-raleway title">Mensualidades</h2>
            <h4 class="text-gray text-raleway no-margin" *ngIf="terreno">Fraccionamiento:
                <span class="text-semibold text-raleway text-secondary">{{terreno.fraccionamiento.nombre}}</span>
            </h4>
            <h4 class="text-gray text-raleway no-margin" *ngIf="terreno">Manzana: <span class="text-gray text-semibold text-raleway">{{terreno.noManzana}}</span></h4>
            <h4 class="text-gray text-raleway no-margin" *ngIf="terreno">Lote: <span class="text-gray text-semibold text-raleway">{{terreno.noLote}}</span></h4>
            <h4 class="text-gray text-raleway no-margin" *ngIf="terreno">Cliente: <span class="text-gray text-semibold text-raleway">{{terreno.usuario.nombre}}
                    {{terreno.usuario.apellidoPaterno}} {{terreno.usuario.apellidoMaterno}}</span></h4>
        </div>
        <div style="display: flex; flex-direction: column;">
            <button class="btn btn-primary" style="margin-bottom: 0.3rem;" (click)="onAgregarEditarMensualidad('crear')">Agregar
                Mensualidad</button>
            <ng-container *ngIf="mensualidades">
                <ng-container *ngIf="mensualidades.length > 0">
                    <button class="btn btn-info" (click)="generarReporte()">Generar Estado de cuenta</button>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="card-body">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label class="text-raleway text-semibold">Busca una mensualidad....</mat-label>
            <input autofocus matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="full-width">

            <!-- Numero Mensualidad -->
            <ng-container matColumnDef="numeroMensualidad" style="background-color: #fff !important;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # Mensualidad </th>
                <td mat-cell *matCellDef="let row"> {{row.numeroMensualidad}} </td>
            </ng-container>

            <!-- Fecha Pago -->
            <ng-container matColumnDef="fechaPago">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha pago </th>
                <td mat-cell *matCellDef="let row"> {{row.fechaPago}} </td>
            </ng-container>

            <!-- Monto -->
            <!-- Monto -->
            <ng-container matColumnDef="monto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
                <td mat-cell *matCellDef="let row"> <span class="text-semibold text-secondary">
                        {{row.monto | currency}}</span> </td>
            </ng-container>

            <!-- Mes -->
            <ng-container matColumnDef="mes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mes </th>
                <td mat-cell *matCellDef="let row"> {{row.mes}} </td>
            </ng-container>

            <!-- Interes -->
            <ng-container matColumnDef="interes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Interés </th>
                <td mat-cell *matCellDef="let row">

                    <span class="text-semibold" [ngClass]="{
                    'text-secondary': (row.estatusInteres == 'PAGADO' || row.interes == null),
                    'text-danger': row.estatusInteres == 'NO PAGADO'
                   }">{{getInteresTable(row)}}</span>


                </td>
            </ng-container>

            <!-- Estatus Mensualidad -->
            <ng-container matColumnDef="estatusMensualidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus Mensualidad </th>
                <td mat-cell *matCellDef="let row">
                    <span class="badge text-white" [ngClass]="{
                        'bg-primary': row.estatusPago === 'PAGADA',
                        'bg-danger': row.estatusPago === 'NO PAGADA'
                       }">{{row.estatusPago}}</span>
                </td>
            </ng-container>

            <!-- Acciones -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                <td mat-cell *matCellDef="let row">
                    <button class="deleteButtonStyle cursorPointer" (click)="onViewMensualidad(row)">
                        <mat-icon class="btnView">remove_red_eye</mat-icon>
                    </button>
                    <button class="deleteButtonStyle cursorPointer" (click)="onAgregarEditarMensualidad('editar', row)">
                        <mat-icon class="btnEdit">edit</mat-icon>
                    </button>
                    <!-- <button class="deleteButtonStyle cursorPointer" (click)="onDeleteMensualidad(row)">
                        <mat-icon class="btnDelete">delete</mat-icon>
                    </button> -->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter</td>
            </tr>

        </table>
        <mat-paginator itemsPerPageLabel="Mensualidades por pagina" [pageSize]="48" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>

</div>